<div class="container">
    <div class="book-show row mt-5">
        <div class="col-4 img-col">
            <%= image_tag @img_url %>
        </div>
        <div class="col-8">
            <h2><%= @book["volumeInfo"]["title"] %></h2>
            <p>Author: <%= @book["volumeInfo"]["authors"].join(", ") %></p>
            <p>Pages: <%= @book["volumeInfo"]["pageCount"]%> </p>
            <p>Published: <%= @book["volumeInfo"]["publishedDate"] %></p>
            <p>Categories: <%= @book["volumeInfo"]["categories"][0] %></p>
            <h3>DESCRIPTION:</h3>
            <p><%= sanitize @book["volumeInfo"]["description"] %></p>
        </div>
    </div>
</div>



