<div class="container col-6 justify-content-center">
    <h2 class="search-heading mt-4 m-4">Search results for <em>'<%= params[:query] %>'</em></h2>
    <% @book_results.each do |book| %>
        <div class="search-card-container">
                <img src="https://books.google.com/books/publisher/content/images/frontcover/<%= book["id"] %>?fife=w240-h345" alt="book cover">
            <div class="search-card-text">
                <h2><%= link_to book["volumeInfo"]["title"], book_show_path(book["id"]) %></h2>
                <p><strong>Publisher: </strong><%= book["volumeInfo"]["publisher"] %></p>
                <p><strong>Author:</strong> <%= book["volumeInfo"]["authors"].nil? ? "" : book["volumeInfo"]["authors"].join(", ") %></p>
                <p> <strong>Pages: </strong><%= book["volumeInfo"]["pageCount"] %></p>
                <p><strong>Published: </strong><%= book["volumeInfo"]["publishedDate"] %></p>
                <p><strong>Categories: </strong><%= book["volumeInfo"]["categories"].nil? ? "" : book["volumeInfo"]["categories"][0] %></p>
            </div>
        </div>
    <% end %>
</div>

